<div class="widget-wrap">
    <h3 class="widget-title"><%= __('About Me') %></h3>
    <div class="widget">
      <p><a href="https://github.com/rain9155" title="github" target="_blank">Github</a></p>
	  <p><a href="https://blog.csdn.net/Rain_9155?t=1" title="csdn" target="_blank">CSDN</a></p>
	  <p><a href="https://juejin.im/user/5b437173e51d45191d79c27a/activities" title="juejin" target="_blank">掘金</a></p>
    </div>
  </div>