<div class="widget-wrap">
    <h3 class="widget-title"><%= __('links') %></h3>
    <div class="widget">
      <a href="https://blog.csdn.net/guolin_blog" title="guolin_blog" target="_blank">郭霖</a>
	  <a href="https://blog.csdn.net/lmj623565791" title="hong_yang" target="_blank">鸿洋</a>
	  <a href="https://blog.csdn.net/harvic880925/article/list/1" title="启舰" target="_blank">启舰</a>
	  <a href="http://gityuan.com/android/" title="gityuan" target="_blank">Gityuan</a>
	  <a href="https://blog.csdn.net/innost?viewmode=contents" title="Innost的专栏" target="_blank">Innost的专栏</a>
	  <a href="https://jsonchao.github.io/" title="jsonchao" target="_blank">Jsonchao</a>
	  <a href="https://www.gcssloop.com/#blog" title="gcssloop" target="_blank">Gcssloop</a>
	  <a href="http://liuwangshu.cn/" title="刘望舒" target="_blank">刘望舒</a>
	  <a href="https://hencoder.com/" title="HenCoder" target="_blank">HenCoder</a>
	  <a href="http://cyc2018.gitee.io/cs-notes/#/" title="cs-notes" target="_blank">CsNotes</a>
	  <a href="https://snailclimb.top/JavaGuide/#/" title="cs-JavaGuide" target="_blank">JavaGuide</a>
	  <a href="https://tamicer.github.io/" title="tamicer" target="_blank">Tamic</a>
	  <a href="http://www.toly1994.com/" title="张风捷特烈" target="_blank">张风捷特烈</a>
    </div>
  </div>